*{
	margin: 0;
	padding: 0;
}
/*.side-column .sideBar {
	background-image: linear-gradient(rgba(26, 26, 255),rgba(26, 26, 255));
	background-size: cover;
	background-position: center;
	color: #efefef!important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}
.side-column h1 {
	text-align: center;
	color: #efefef!important;
	padding-bottom: 10px;
}
.side-column h1::after {
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
.side-column {
	margin-top:  40px;
}
.side-column p {
	font-size: 14px;
	margin-top: 20px;
	color: #fff;
	font-family: sans-serif;
}*/

.container{
  	width: 100%;
  	display: flex;
  }
.progressBar{
  	counter-reset: step;
  }
.progressBar ul{
  	display: block;
  	list-style: none;
  }
.progressBar li{
  	list-style-type: none;
  	float: left;
  	width: 20%;
  	position: relative;
  	text-align: center;
  	display: inline-block;
  }
.progressBar li:before{
  	content: counter(step);
  	counter-increment: step;
  	line-height: 30px;
  	width: 30px;
  	height: 30px;
  	border: 1px solid #ddd;
  	display: block;
  	text-align: center;
  	margin: 0 auto 10px auto;
  	border-radius: 50%;
  	background-color: white;
  	z-index: 2;	
  }
.progressBar li:after{
    	content: '';
    	position: absolute;
    	width: 100%;
    	height: 1px;
    	top: 15px;
    	left: -50%;
    	z-index: -1;
  		color: #c2c2c2;
  		border-top-style: dashed;
    }
.progressBar li:first-child:after{
    	content: none;
    }
.progressBar li.active{
    	color: #49515d;
    }
.progressBar li.active:before{
    	background-color: #ffc107;
    	border-color: #c7c7c7;
    	color: white;
    }
.progressBar li.active + li:before{
    	background-color: #ffffff;
    }
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}